.card {
    width: 50rem;
    height: 10%;
    position: relative;
    top: 5rem;
    text-align: center;

    padding: 5rem;
    background-image: linear-gradient(to bottom, rgb(5, 98, 118), rgb(98, 161, 184));
    border-radius: 25px;
    font-weight: bold;
    color: aliceblue;
}

