.announcement{
    height: 40rem;
    background-color: rgb(254, 255, 255);
    border-radius: 10px;
}

.announcementTitle{
    color: rgb(75, 75, 75);
    margin: 1rem;
}

.allAnnouncementLink{
    color: rgb(69, 184, 210);
    font-size: 25px;
    font-weight: bold;
}