.header {
    height: 20rem;
    background-color: rgb(254, 255, 255);
    border-radius: 10px;
    margin: 1rem;
}

.title {
    color: mix(rgb(5, 98, 118), rgb(126, 200, 227));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.view-exam-btn {
    color: #fff;
    background-color: rgb(69, 184, 210);
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}