.sidebar-home-page {
    height: 40rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}


.sidebarTitle {
    color: rgb(75, 75, 75);
    margin: 1rem;
}

.allSidebarLink {
    color: rgb(69, 184, 210);
    font-size: 25px;
    font-weight: bold;
}